@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0;
    color: var(--dark-grayish-blue);
    background: var(--cream);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background: var(--white);
    width: 90%;
    border-radius: 10px;
}

img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.main-content {
    margin: 0 24px;
}

.category {
    margin: 20px 0 12px 0;
    text-transform: uppercase;
    font-size: 12px;
    line-height: auto;
    letter-spacing: 5px;
}

h1 {
    margin-bottom: 16px;
    color: var(--very-dark-blue);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 32px;
}
